extends layout

block content
  h1= title
  p Welcome to #[em Local Library], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.
  h1 Dynamic content

  p The library has the following record counts:

  ul
    li #[b Books:] !{book_count}
    li #[b Copies:] !{book_instance_count}
    li #[b Copies available:] !{book_instance_available_count}
    li #[b Authors:] !{author_count}
    li #[b Genres:] !{genre_count}